<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
        <span class="text-muted"style="font-size: 14px">點兩下導航列返回頂部</span>
        <br>
        <ul class="list-inline text-center">
        <% if (config.RSS) { %>
          <li>
            <a href="<%= config.root + 'feed.xml' %>">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        <% } %>
        <% if (config.twitter_username) { %>
          <li>
            <a target="_blank" href="https://twitter.com/<%= config.twitter_username %>">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        <% } %>
        <% if (config.zhihu_username) { %>
          <li>
            <a target="_blank" href="https://www.zhihu.com/people/<%= config.zhihu_username %>">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa  fa-stack-1x fa-inverse">知</i>
              </span>
            </a>
          </li>
        <% } %>

        <% if (config.weibo_username) { %>
          <li>
            <a target="_blank" href="http://weibo.com/<%= config.weibo_username %>">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        <% } %>

        <% if (config.facebook_username) { %>
          <li>
            <a target="_blank" href="https://www.facebook.com/<%= config.facebook_username %>">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        <% } %>

        <% if (config.github_username) { %>
          <li>
            <a target="_blank"  href="https://github.com/<%= config.github_username %>">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        <% } %>

        <% if (config.linkedin_username) { %>
          <li>
            <a target="_blank"  href="https://www.linkedin.com/in/<%= config.linkedin_username %>">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        <% } %>

        <% if (config.instagram_username) { %>
          <li>
            <a target="_blank"  href="https://www.instagram.com/<%= config.instagram_username %>">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        <% } %>

        </ul>
        <p class="copyright text-muted">
          Copyright &copy; <%= config.title %> <%= new Date().getFullYear() %>
          <!-- <br>
          <span id="busuanzi_container_site_pv" style="font-size: 12px;">PV: <span id="busuanzi_value_site_pv"></span> Times</span>
          <br>
          Theme by <a href="https://haojen.github.io/">Haojen Ma</a>
          -->
        </p>

      </div>
    </div>
  </div>
</footer>

<script type="application/ld+json" id="query_jsonld">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name" : "SoarLin's Blog",
    "url": "https://soarlin.github.io",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://soarlin.github.io?query={query_string}",
      "query-input": "required name=query_string"
    }
}
</script>

<!-- jQuery & Bootstrap Core JavaScript -->
<%- js('js/vendor.js') %>

<!-- Custom Theme JavaScript -->
<%- js('js/blog.js') %>

<!-- Google Analytics -->
<% if (config.ga_track_id) { %>
<script>
  // dynamic User by Hux
  var _gaId = '<%= config.ga_track_id %>';
  var _gaDomain = '<%= config.ga_domain %>';
  // Originial
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', _gaId, _gaDomain);
  ga('send', 'pageview');
</script>
<% } %>
