---
layout: layout
---

<!-- Image to hack wechat -->
<!--only post-->
<% if (page['wechat-share']) {%>
  <!--只支持CDN图床-->
  <img class="wechat-title-img" src="<%- config['cdn-url']%><%= page['wechat-share'] || page['header-img'] %><%- config['cdn-url']? config['clip-content']:''%>">
<% } else { %>
  <% if (page["cdn"] === 'header-off'){ %>
    <img class="wechat-title-img" src="<%= page["header-img"] || config["post-default-img"]%>">
  <% } else {%>
    <img class="wechat-title-img" src="<%- page['header-img']?config['cdn-url']+page["header-img"] : config["post-default-img"]%>">
  <% } %>
<% } %>
<style>
<% if (page["cdn"] === 'header-off') { %>
  header.intro-header {
    background-image: url('<%= page["header-img"] || config["post-default-img"]%>') ;
  }
<% } else { %>
  header.intro-header {
    background-image: url('<%- page["header-img"]?config["cdn-url"]+page["header-img"]+config["clip-content"] : config["post-default-img"]%>')
  }
<% } %>
</style>

<header class="intro-header" >
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
        <div class="post-heading">
          <h1><%= page.title %></h1>
          <% if(page.subtitle) { %>
            <h2 class="subheading"><%= page.subtitle %></h2>
          <% } %>
          <span class="meta">
             作者 <%- page.author || config.author %>
             <span>
             日期 <%= page.date.format(config.date_format) %>
             </span>
          </span>
          <div class="tags text-center">
            <% page.tags.forEach(function(tag){ %>
            <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="post-title-haojen">
    <span><%- page.title %></span>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
        <!-- Post Container -->
      <div class="col-lg-8 col-lg-offset-1 col-sm-9 post-container">

        <%- page.content %>

        <hr>

        <ul class="pager">
          <% if (page.prev){ %>
            <li class="previous">
              <a href="<%- config.root %><%- page.prev.path %>" data-toggle="tooltip" data-placement="top" title="<%- page.prev.title %>">&larr; Previous Post</a>
            </li>
          <% } %>
          <% if (page.next){ %>
            <li class="next">
              <a href="<%- config.root %><%- page.next.path %>" data-toggle="tooltip" data-placement="top" title="<%- page.next.title %>">Next Post &rarr;</a>
            </li>
          <% } %>
        </ul>

        <% if(config['disqus_username']) { %>
        <!-- disqus 评论框 start -->
        <div class="comment">
          <div id="disqus_thread" class="disqus-thread"></div>
        </div>
        <!-- disqus 评论框 end -->
        <% } %>

      </div>

      <!-- 文章右側標題列表 -->
      <div class="hidden-xs col-sm-3 toc-col" >
        <div class="toc-wrap">
          <%- toc(page.content , {list_number : false}) %>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Sidebar Container -->

      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 sidebar-container">

        <!-- Featured Tags -->
        <% if(config['featured-tags']) { %>
        <section>
          <!-- no hr -->
          <h5 class="text-center">
            <a href="<%= config.root %>tags/">FEATURED TAGS</a>
          </h5>
          <div class="tags">
            <% page.tags.forEach(function(tag){ %>
              <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
            <% }) %>
          </div>
        </section>
        <% }%>

        <!-- Friends Blog -->
        <% if(config.friends) { %>
        <hr>
        <h5 class="text-center">FRIENDS</h5>
        <ul class="list-inline text-center">
          <% config.friends.forEach(function(friend){ %>
            <li><a href="<%= friend.href %>"><%= friend.title %></a></li>
          <% }); %>
        </ul>
        <% }%>
      </div>
    </div>

  </div>
</article>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Blog",
    "name": "SoarLin's Blog",
    "url": "https://soarlin.github.io",
    "description": "記錄自己工作中所接觸技術，包含前端、後端",
    "publisher": {
        "@type": "Organization",
        "name": "SoarLin's Blog"
    },
    "blogPosts": [
        {
            "@type": "blogPosting",
            "mainEntityOfPage": "<%= config.url + config.root + (page.path||'').replace('index.html', '') %>",
            "headline": "<%- page.title %>",
            "author": "<%- page.author || config.author %>",
            "datePublished": "<%= page.date.format(config.date_format) %>",
            "dateModified": "<%= page.updated.format(config.date_format) || page.date.format(config.date_format) %>",
            "image": {
                "@type": "imageObject",
                "url": "<%= page["header-img"] || config["post-default-img"]%>",
                "height": "400",
                "width": "400"
            },
            "publisher": {
                "@type": "Organization",
                "name": "SoarLin's Blog",
                "logo": {
                    "@type": "imageObject",
                    "url": "https://soarlin.github.io/<%= config.favicon %>"
                }
            }
        }
    ]
}
</script>

<% if(config['disqus_username']) { %>
<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
  var disqus_shortname = "<%= config['disqus_username'] %>";
  var disqus_identifier = "<%= page.permalink %>";
  var disqus_url = "<%= page.permalink %>";

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<!-- disqus 公共JS代码 end -->
<% } %>